<div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="cover-container text-center">
    <div class="container">
      <div class="logo">
        <p><%= image_tag "logo_main.png", class:"cover-logo"%></p>
        <p><%= image_tag "logo_wording.png", class:"brand-name"%></p>
      </div>
      <div class="text-center cover-button">
        <%= link_to "新規登録", new_user_path, class:"btn btn-outline-info btn-lg btn-block mt-4 mb-4" %>
        <%= link_to "ログイン", new_session_path, class:"btn btn-outline-info btn-lg btn-block mb-3" %>
      </div>
    </div>
  </main>
</div>

