<div class="px-3 py-3 pt-5 pb-4">
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light justify-content-center", style="background-color:#216EBB">
    <%=link_to image_tag( "logo_black_transparent.png", class:"mx-3 my-1", size: "190x46"), feeds_path%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
    aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsingNavbar">
      <% if logged_in? %>
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <%= link_to '新規投稿', new_feed_path, class: "nav-link #{ "active" if current_page?(new_feed_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to "プロフィール", user_path(current_user.id), class: "nav-link #{ "active" if current_page?(user_path(current_user.id))}" %>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto justify-content-end">
            <li class="nav-item">
              <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "nav-link"%>
            </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
