@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Cover page

html,
body {
  background-color: #f0eeee;
}

.h6 {
  font-size: 1.1rem !important;
}

.h6-5 {
  font-size: .9rem;
}

.h7 {
  font-size: .8rem;
}
// //Error display
// ul {
//   padding-left: 0.6rem;
//   margin-bottom: 0.8rem;
// }
// li {
//   list-style-type: none;
// }

// li i {
//   padding-right: 0.5rem;
// }

//Profile
.profile-avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.col-3 {
  flex: 0 0 32% !important;
  max-width: 32% !important;
}

.btn-outline-info {
  color: #484848 !important;
  border-color: #484848 !important;
}

.btn-outline-info:hover {
  background-color: #484848 !important;
  color: #F0EEEE !important;
}


//footer
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f5f5f5;
}
