@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//Cover page

html,
body {
  height: 100%;
  background: linear-gradient(to bottom right, #ecea63, #FFEA00 25%, #EE2FA7 85%);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  box-shadow: inset 0 0 5rem #fff0f08f;
}

.cover-container {
  margin: auto auto;
  max-width: 100%;
  max-height: 100%;
}

.cover-image {
  max-height: 320px;
}

.btn-outline-info {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-outline-info:hover {
  background-color: #fff;
  color: transparent !important;
}