<div class="container">
  <div>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Instashot</span>
    </nav>
  </div>
  
  <div class="text-center mt-5">
    <h1 class="h2 my-3"> こんにちは, <%= @feed.user.name%> </h1>
    <h4 class="h4 mt-5"> 投稿完成しました。</h4>
    <h4 class="h4"> ありがとうございます。 </h4>
  </div>
</div>
